<h1 class="ui huge header">
  ¡A Jugar!
</h1>
<div class="ui three special cards">
  <div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">¡A jugar!</div>
          </div>
        </div>
      </div>
      <img class="ui fluid image" src="https://semantic-ui.com/images/wireframe/white-image.png" />
    </div>
  </div>
  <div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Desafíos</div>
          </div>
        </div>
      </div>
      <img class="ui fluid image" src="https://semantic-ui.com/images/wireframe/white-image.png" />
    </div>
  </div>
  <div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Caja de Herramientas</div>
          </div>
        </div>
      </div>
      <img class="ui fluid image" src="https://semantic-ui.com/images/wireframe/white-image.png" />
    </div>
  </div>
</div>
{{yield}}
