<h1 class="ui huge header a-jugar-header">
  Vamos a jugar!
</h1>
<div class="ui two special cards">
  <div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Desafíos</div>
          </div>
        </div>
      </div>
      <img class="ui fluid image" src="/assets/home/ctic_home_cards-desafios.svg" alt="Desafíos"/>
    </div>
  </div>
  <div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Herramientas</div>
          </div>
        </div>
      </div>
      <img class="ui fluid image" src="/assets/home/ctic_home_cards-herramientas.svg" alt="Herramientas"/>
    </div>
  </div>
</div>
{{yield}}
