{{yield}}
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal width stackable grid">
      <div class="column">
        Copa TIC - 2018
      </div>
      <div class="column">
        <div class="ui horizontal list">
          <div class="item">
            <div class="middle aligned content">
              DIRECCIÓN DE INNOVACIÓN<br>
              Y TECNOLOGÍA EDUCATIVA
            </div>
          </div>
          <div class="item">
            <div class=" middle aligned content">
              <div class="ui list">
                <div class="item">Subsecretaría de Políticas</div>
                <div class="item">Docentes y Gestión Territorial</div>
                <div class="item">Dirección General de Cultura y Educación</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
