{{yield}}
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="ui sixteen wide column">
        Copa TIC - 2018
      </div>
    </div>
  </div>
</div>
