{{#if media.isDesktop}}
  {{#link-to "app.index" class="item large screen only"}}
    <img class="ui fluid image" src="copa-tic_menu-logo.png" />
  {{/link-to}}
{{/if}}
{{#link-to 'app.proyecto' class="item"}}Proyecto{{/link-to}}
{{#link-to 'app.juego' class="item"}}Juego{{/link-to}}
{{#link-to 'app.tablero' class="item"}}Tablero{{/link-to}}
{{#link-to 'app.herramientas' class="item"}}Herramientas{{/link-to}}
<a class="item" href="http://campus.abc.gov.ar/dte/" target="_blank">Aula virtual</a>
<div class="ui borderless right menu">
  <a class="item" href="https://www.facebook.com/buenosairesconectados/" target="_blank" title="Facebook Buenos Aires Conectados"><i class="ui facebook icon"></i></a>
  <a class="item" href="https://twitter.com/BAConectados" target="_blank" title="Twitter Buenos Aires Conectados"><i class="ui twitter icon"></i></a>
</div>
{{yield}}
