<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      El Mundial '78 en primera persona
    </h1>
    <p>Corría el año 1978 y por primera vez la Copa Mundial de Fútbol se disputaba en Argentina, mientras se desarrollaba una de las dictaduras más férreas de nuestra historia. Ustedes todavía no habían nacido, pero seguramente sus padres y abuelos sí, y queremos compartir sus testimonios para involucrarlos en la Copa TIC.</p>
    <p>Este desafío consiste en que cada uno de ustedes entreviste brevemente a algún integrante de su familia (madre, padre, abuelos, tíos, primos, etc.) o a algún vecino para conocer cómo vivió el Mundial ‘78 y la victoria de Argentina, qué recuerda de la época, si fue a algún lado a festejar y cualquier otra pregunta que se les ocurra. La idea es que graben las entrevistas usando un teléfono celular, o que tomen nota, y luego seleccionen y transcriban el fragmento que les parezca más interesante. Posteriormente deberán armar un tablero en <a href="https://ar.pinterest.com/" target="_blank">Pinterest</a> y subir todos los testimonios acompañados de una fotografía o ilustración (propia o extraída de Internet) a elección.</p>
  </div>
</div>
