<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      Mapa interactivo Rusia 2018
    </h1>
    <p>Rusia es el país más extenso del mundo y utilizará 12 estadios distribuidos en 11 ciudades para la Copa Mundial de Fútbol. Por esta razón, vamos a hacer un mapa interactivo con <a href="https://www.google.com/mymaps" target="_blank">MyMaps</a> para geolocalizar las sedes del mundial y aportar información sobre las mismas.</p>
    <p>Este desafío consiste en ubicar en un mapa cada uno de los estadios y completar los siguientes campos a partir de información que recopilen de Internet:</p>
    <div class="ui big bulleted list">
      <div class="item">Fotografía del estadio</div>
      <div class="item">Nombre del estadio</div>
      <div class="item">Capacidad del estadio</div>
      <div class="item">Ciudad en la que se encuentra</div>
      <div class="item">Idioma oficial</div>
      <div class="item">Cantidad de habitantes</div>
      <div class="item">Huso horario</div>
      <div class="item">Distancia en línea recta con Moscú</div>
    </div>
    <p>Para guiarse, pueden seguir el siguiente <a href="http://bit.ly/copaticF1D1L1" target="_blank">ejemplo</a> y consultar la {{#link-to 'app.herramientas'}}Caja de  Herramientas{{/link-to}}.</p>
  </div>
</div>
