<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      El Mundial de los datos
    </h1>
    <p>¿Qué sucedería si en lugar de enfrentarse por sus habilidades futbolísticas, las 32 selecciones de Rusia 2018 se midiesen según datos estadísticos del país que representan?</p>
    <p>Este desafío consiste en realizar una copia de la siguiente tabla (http://bit.ly/copaticF4D3L1) que contiene un listado de los 32 países que participan del Mundial, y hacerlos competir a partir de indicadores del Banco Mundial tal como se hizo en la “Copa de los datos” (http://copadedatos.educ.ar/).</p>
    <p>En primer lugar deberán elaborar gráficos de barras que muestren de manera decreciente la superficie de cada uno de los países, el área selvática, su población, el porcentaje de usuarios de Internet y el de consumo de energía renovable.</p>
    <p>En segundo lugar deberán hacer competir a los países de acuerdo al fixture del Mundial identificando cada fase con un indicador:</p>
    <div class="ui bulleted list">
      <div class="item">Grupos: Superficie</div>
      <div class="item">Octavos: Área selvática</div>
      <div class="item">Cuartos: Población</div>
      <div class="item">Semifinales: usuarios de Internet</div>
      <div class="item">Final: consumo de energía renovable</div>
    </div>
    <div class="ui right aligned basic segment">
      <a class="ui large button" href="/assets/actividades/F4D3 - El Mundial de los datos.pdf">Descargar Desafío <i class="ui download icon"></i></a>
    </div>
  </div>
</div>
