<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      Remix Mundial
    </h1>
    <p>Sentimientos y pasiones, amor y odio, compañerismo y rivalidad... Sin duda alguna, el fútbol y la literatura tienen muchas cosas en común, y vamos a demostrarlo en Copa TIC.</p>
    <p>Este desafío consiste en elaborar un video a partir del poema <a href="http://bit.ly/copaticF2D4L1" target="_blank">"Nunca Jamás"</a>, del relator Walter Saavedra. Para ello, deben recitar y grabar los versos, seleccionar una música de fondo y utilizar fragmentos de videos e imágenes (propios o extraídos de Internet) para elaborar un video de al menos un minuto.</p>
    <p>Si no les gusta el poema, son libres de escribir un texto que resuma qué es el fútbol para ustedes y convertirlo en un video con los recursos que elijan.</p>
    <p>3, 2, 1… ¡Acción!</p>
    <div class="ui right aligned basic segment">
      <a class="ui large button" href="/assets/actividades/F2D4 - Remix Mundial.pdf">Descargar Desafío <i class="ui download icon"></i></a>
    </div>
  </div>
</div>
