<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      El fútbol en mi barrio
    </h1>
    <p>Buenos Aires es la provincia más grande de Argentina y en su extenso territorio hay 71 escuelas que participan de la Copa TIC. Para que todos los jugadores se conozcan un poco, en este desafío vamos a retratar cómo se vive el fútbol en su barrio: el juego en los recreos, clubes, plazas y potreros; los murales, las camisetas y banderas que suelen verse en las calles.</p>
    <p>El primer paso para cumplir con este desafío es crear una cuenta de Instagram para su equipo, que será administrada por el capitán del mismo. Luego, cada uno de ustedes deberá tomar al menos una fotografía, editarla a su criterio, redactar una descripción y subirla a la cuenta acompañada del hashtag #CopaTIC para que los compañeros de toda la Provincia puedan conocer cómo se vive el fútbol en su barrio.</p>
    <div class="ui right aligned basic segment">
      <a class="ui large button" href="/assets/actividades/F3D3 - El fútbol en mi barrio.pdf">Descargar Desafío <i class="ui download icon"></i></a>
    </div>
  </div>
</div>
