<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      El ranking de las proteínas
    </h1>
    <p>Los futbolistas profesionales tienen dietas especiales para optimizar su rendimiento y resistencia, que combinan carbohidratos, grasas y proteínas. Estas últimas, las proteínas, son indispensables para el desarrollo de masa muscular, así que en este desafío les proponemos investigar cuál es el nivel proteico de los platos típicos de los países que jugarán el Mundial.</p>
    <p>Los invitamos a seleccionar los platos tradicionales de cinco países, determinar los tres ingredientes principales de cada uno (si los hubiera) y utilizar la siguiente <a href="http://bit.ly/copaticF2D3L2" target="_blank">tabla de composición de los alimentos</a> para determinar su contenido proteico en 100g. de porción comestible.</p>
    <p>Para sistematizar toda la información vamos a trabajar a partir de una copia de la siguiente presentación: <a href="http://bit.ly/copaticF2D3L1" target="_blank">http://bit.ly/copaticF2D3L1</a>. </p>
  </div>
</div>
