<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      Crónica: el Mundial en mi escuela
    </h1>
    <p>Ya comenzó el Mundial y la emoción se siente en cada rincón de la Argentina. Por eso queremos saber cómo se vive el Mundial en su escuela.</p>
    <p>Agarren lápiz y papel, o abran un procesador de textos, y redacten de manera colaborativa una crónica que describa qué cambió desde que empezó el Mundial, si van a la escuela con la camiseta, si se comentan los partidos o si organizan para verlos juntos.</p>
    <p>En caso de que no se les ocurra cómo empezar, salgan al recreo, escuchen a sus compañeros y compañeras, y vuelvan a escribir lo que ven y oyen; y si van a ver el partido contra Croacia en la escuela, cuenten cómo se vivió.</p>
    <p>Les sugerimos consultar con el/la docente de Prácticas del Lenguaje cuáles son las características de una crónica para que puedan redactarla de la mejor manera posible y obtener la insignia de producción escrita.</p>
    <p>La crónica deberá estar acompañada de al menos una fotografía y se publicará en <a href="http://telegra.ph" target="_blank">Telegraph</a>. Les recomendamos pasar por la {{#link-to 'app.herramientas'}}Caja de Herramientas{{/link-to}} para aprender a usarlo.</p>
    <div class="ui right aligned basic segment">
      <a class="ui large button" href="/assets/actividades/F1D3 - Crónica_ el Mundial en mi escuela.pdf">Descargar Desafío <i class="ui download icon"></i></a>
    </div>
  </div>
</div>
