<div class="ui basic inverted very padded segment bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe segment">
  <div class="ui container">
    <h1 class="ui huge header">
      Mapa interactivo Rusia 2018
    </h1>
    <p>Rusia es el país más extenso del mundo y utilizará 12 estadios distribuidos en 11 ciudades para la Copa Mundial de Fútbol. Por esta razón, vamos a hacer un mapa interactivo con MyMaps (https://www.google.com/mymaps) para geolocalizar las sedes del mundial y aportar información sobre las mismas.</p>
    <p>Este desafío consiste en ubicar en un mapa cada uno de los estadios y completar los siguientes campos a partir de información que recopilen de Internet:</p>
    <ul>
      <li>Fotografía del estadio</li>
      <li>Nombre del estadio</li>
      <li>Capacidad del estadio</li>
      <li>Ciudad en la que se encuentra</li>
      <li>Idioma oficial</li>
      <li>Cantidad de habitantes</li>
      <li>Huso horario</li>
      <li>Distancia en línea recta con Moscú</li>
    </ul>
    <p>Para guiarse, pueden seguir el siguiente ejemplo (<a href="http://bit.ly/copaticF1D1L1" target="_blank">http://bit.ly/copaticF1D1L1</a>) y consultar la caja de ({{#link-to 'app.herramientas'}}herramientas{{/link-to}}).</p>
  </div>
</div>
