<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      Campaña contra la discriminación de género en el fútbol
    </h1>
    <p>“El fútbol no es ni masculino ni femenino. El fútbol es un deporte maravilloso que lo puede practicar todo aquel, o toda aquella, que tenga ganas”. Retomamos las palabras de Gabriela Martínez Figliolo para introducir una problemática que se vive tanto dentro como fuera de la cancha.</p>
    <p>A partir del artículo <a href="http://bit.ly/copaticF3D4L1" target="_blank">“El fútbol no es masculino ni femenino”</a> les proponemos reflexionar sobre las prácticas discriminatorias hacia las mujeres en el ámbito futbolístico y elaborar al menos una imagen para difundir por redes sociales utilizando alguna herramienta como GIMP o Canva.</p>
    <p>La o las imágenes deberán ser publicadas en alguna red social (Twitter, Facebook, Instagram, etc.) utilizando el hashtag #CopaTIC e indicando el nombre del equipo y la escuela.</p>
  </div>
</div>
