<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      De cábalas y otras yerbas
    </h1>
    <p>Las cábalas y el fútbol van de la mano. Entrenadores, futbolistas e hinchas suelen recurrir a pequeños ritos antes de que la pelota ruede por el campo de juego. Algunos ingresan con el pie derecho a la cancha, otros tocan el césped y los que apoyan a un equipo suelen ver los partidos en el mismo lugar, con la misma gente y vestidos de la misma manera.</p>
    <p>Este desafío consiste en grabar un audio en el cual hagan de cuenta que le tienen que explicar a un extranjero qué son las cábalas, seleccionar al menos una y explicarla en inglés.</p>
    <p>Les recomendamos debatir sobre este tema, anotar sus cábalas en el pizarrón para seleccionar algunas y escribir el guión en inglés antes de grabarlo. Este audio de al menos un minuto debe ser subido a <a href="https://soundcloud.com/" target="_blank">Soundcloud</a> para que el mundo conozca la mística de las y los argentinos.</p>
  </div>
</div>
