<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      El gol animado
    </h1>
    <p>Hay goles y goles. Unos son planificados y ejecutados minuciosamente, mientras que otros son fruto de la casualidad, el error de un rival o la picardía de algún jugador. Unos son decisivos y otros sólo sirven para asegurar un resultado. Hay goles que festejamos tímidamente y otros memorables que gritamos cada vez que vemos la repetición.</p>
    <p>Este desafío consiste en construir una animación del siguiente gol de Argentina en Scratch utilizando los elementos provistos en esta <a href="http://bit.ly/copaticF4D1L2" target="_blank">carpeta</a>. La animación programada deberá reproducir la jugada del gol de manera idéntica o con alguna variante, siempre que fundamenten el cambio. </p>
    <p>Para realizar la animación les recomendamos ver el tutorial de Scratch disponible en la {{#link-to 'app.herramientas'}}Caja de  Herramientas{{/link-to}} y consultar el ejemplo de la carpeta.</p>
  </div>
</div>
