<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      ¿A qué jugamos?
    </h1>
    <p>Nos guste o no, cada cuatro años el fútbol se instala en los medios y las conversaciones de todos los argentinos, pero lo cierto es que hay infinidad de deportes y queremos compartir la diversidad con toda la comunidad.</p>
    <p>Este desafío consiste en hacer una encuesta para saber a qué deportes jugamos y cuáles nos gusta ver en vivo, por televisión u otros medios. Para ello, vamos a hacer una copia de la siguiente <a href="http://bit.ly/copaticF3D1L1" target="_blank">tabla</a> y a encuestar a la mayor cantidad de estudiantes que podamos (50 como mínimo) durante dos recreos.</p>
    <p>Cuando tengamos los datos cargados en la tabla, desde allí mismo vamos a hacer dos gráficos utilizando la función Insertar>Gráfico:</p>
    <div class="ui bulleted list">
      <div class="item">Un gráfico circular o de “torta” que muestre el porcentaje de estudiantes que siguen algún deporte por los medios.</div>
      <div class="item">Un gráfico de barras que muestre cuáles son los deportes que más consumen los estudiantes.</div>
    </div>
    <p>Finalmente deberán compartir el enlace de la tabla con el DT para que éste lo suba a la Plataforma de Copa TIC.</p>
  </div>
</div>
