<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      Los estadios a través de la historia
    </h1>
    <p>Los estadios en los que se jugará el Mundial Rusia 2018 son grandes construcciones techadas con gradas en distintos niveles que permiten a miles de espectadores disfrutar del mismo evento deportivo. Sin embargo, esto no siempre fue así, ¿O acaso sí?</p>
    <p>Este desafío consiste en hacer una línea de tiempo que muestre cómo han sido utilizados los estadios por distintas civilizaciones a lo largo de la historia. Para ello, deberán investigar las características de los estadios en estos tres momentos:</p>
    <div class="ui ordered list">
      <div class="item">Civilizaciones precolombinas (Mayas, Aztecas e Incas); Grecia y Roma Antigua.</div>
      <div class="item">Ciudades medievales del s. XV al s. XVIII.</div>
      <div class="item">Ciudades modernas del s. XIX al s. XX.</div>
      <div class="item">Ciudades actuales (s. XXI).</div>
    </div>
    <p>Para realizar la línea de tiempo utilizaremos Timeline JS, para lo cual será necesario crear una copia de la siguiente <a href="http://bit.ly/copaticF4D4L1" target="_blank">tabla</a> y ver el tutorial disponible en la {{#link-to 'app.herramientas'}}Caja de  Herramientas{{/link-to}}. Por cada uno de los momentos indicados deberán indicar la siguiente información: nombre del estadio, año aproximado, texto descriptivo a partir de la información investigada, fotografía y/o ilustración.</p>
    <div class="ui right aligned basic segment">
      <a class="ui large button" href="/assets/actividades/F4D4 - Los estadios a través de la historia.pdf">Descargar Desafío <i class="ui download icon"></i></a>
    </div>
  </div>
</div>
