<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      Al ritmo del Mundial
    </h1>
    <p>Las selecciones que se enfrentan en Rusia provienen de 32 países con culturas, costumbres y geografías muy diversas. En este desafío les proponemos elegir un país e investigar sus músicas, sonoridades características (animales propios del lugar, instrumentos musicales construidos con materiales autóctonos, el idioma, etc.), personajes, hechos históricos y otros elementos para elaborar un relato sonoro.</p>
    <p>La idea es hacer un remix que, como si de una fotografía se tratara, nos cuente cómo es el país elegido. Para ello deberán combinar su propia voz, ya sea cantada o hablada; música creada para el relato (bases rítmicas, melódicas, beat box, etc.) y recursos disponibles en Internet, como relatos de jugadas de partidos, canciones de alguno de los mundiales, publicidades, noticieros, u otros.</p>
    <p>Este audio de entre 1:30 y 2:00 minutos deberá contar con un título y ser subido a Soundcloud.</p>
  </div>
</div>
