<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      Medios, fútbol y discriminación
    </h1>
    <p>Si bien cuando juega la selección los hinchas nos hermanamos bajo una misma bandera, el fútbol está plagado de prácticas discriminatorias que no hacen más que dividirnos. En las canchas, en las calles e incluso en los medios de comunicación podemos encontrar discursos que cargan de connotaciones negativas a la extranjeridad, al género, a la condición sexual y social, al culto religioso, entre otros aspectos.</p>
    <p>A partir del cuento <a href="http://bit.ly/F4D2L1" target="_blank">“Fashanu”</a> de Mariano Gielis les proponemos realizar un debate en torno a los discursos y prácticas discriminatorias vinculadas al mundo futbolístico y el rol que juegan los medios de comunicación y las redes sociales.</p>
    <p>El desafío consiste en elaborar un listado de al menos 5 prácticas antidiscriminatorias que cada uno de nosotros puede realizar para garantizar la inclusión, el respeto y la convivencia y buscar la mejor manera de comunicarlas con el resto de los equipos que juegan la Copa TIC, para que juntos le saquemos tarjeta roja a la discriminación.</p>
    <div class="ui right aligned basic segment">
      <a class="ui large button" href="/assets/actividades/F4D2 - Medios, fútbol y discriminación.pdf">Descargar Desafío <i class="ui download icon"></i></a>
    </div>
  </div>
</div>
