<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      El campeón inesperado
    </h1>
    <p>Todos los mundiales tienen candidatos favoritos a ganar la Copa del Mundo, pero muchas veces las matemáticas fallan en el terreno futbolístico y nos llevamos grandes sorpresas. ¿Qué pasaría si un país con pocas probabilidades llegara a la final y se quedara con la Copa del Mundo?</p>
    <p>Este desafío consiste en recrear y grabar el relato radial de los últimos minutos de la final del Mundo entre el país que ustedes elijan y Francia. Escriban guiones para el locutor y dos o tres comentaristas que describan las jugadas y el clima de la cancha, la incertidumbre de aquellos que se creían campeones, las reacciones de la hinchada, etc. y graben el audio con un celular. Si necesitan editarlo, pueden consultar la {{#link-to 'app.herramientas'}}Caja de Herramientas{{/link-to}}.</p>
    <p>Para inspirarse les recomendamos escuchar el <a href="http://bit.ly/copaticF1D4L1" target="_blank">relato de Victor Hugo Morales del segundo gol de Maradona frente a Inglaterra en el Mundial de 1986</a>.</p>
    <p>El audio de al menos dos minutos deberá ser subido a <a href="https://soundcloud.com/" target="_blank">Soundcloud</a> con un título a elección.</p>
    <div class="ui right aligned basic segment">
      <a class="ui large button" href="/assets/actividades/F1D4 - El campeón inesperado.pdf">Descargar Desafío <i class="ui download icon"></i></a>
    </div>
  </div>
</div>
