<div class="ui vertical inverted very padded stripe segment segment-juego bg celeste">
  <div class="ui container">
    {{#link-to 'app.juego' class="ui basic inverted white button"}}
      <i class="ui left chevron icon"></i> VOLVER A LOS DESAFÍOS
    {{/link-to}}
  </div>
</div>
<div class="ui very padded stripe vertical segment detalle-desafio">
  <div class="ui container">
    <h1 class="ui huge header">
      ¡Hay Equipo!
    </h1>
    <p>Todos los equipos de fútbol tienen un nombre y un escudo que los identifica, así que ustedes serán los encargados de definir estos aspectos del equipo de su escuela para jugar la Copa TIC.</p>
    <p>Para resolver este desafío les recomendamos seguir los siguientes pasos:</p>
    <div class="ui big ordered list">
      <div class="item">Hacer un listado de las cosas que identifican a la escuela y a ustedes mismos: el nombre, el barrio,características de los integrantes (alumnos o docentes), la modalidad u orientación, etc.</div>
      <div class="item">A partir de esos elementos, proponer y votar un nombre que represente a toda la escuela, dado que en la Copa TIC todos somos un equipo.</div>
      <div class="item">Hacer una lluvia de ideas para identificar los elementos que debería tener un escudo: siglas, colores, algún dibujo, etc.</div>
      <div class="item">Reunirse en grupos para bocetar y diseñar diversos escudos. Pueden emplear técnicas tradicionales de dibujo y pintura y luego sacarle una fotografía o diseñarlo directamente en computadora.</div>
      <div class="item">Votar y seleccionar el mejor logo y dárselo al DT para que lo suba a la plataforma.</div>
      <div class="ui right aligned basic segment">
        <a class="ui large button" href="/assets/actividades/F1D2 - Hay equipo.pdf">Descargar Desafío <i class="ui download icon"></i></a>
      </div>
    </div>
  </div>
</div>
