
<div class="ui vertical stripe segment">
  {{#swiper-container pagination=true grabCursor=true navigation=true autoplay=true}}
    {{#swiper-slide}}<img class="ui fluid image" src="/assets/slides/juego_slide_01.jpg" />{{/swiper-slide}}
    {{#swiper-slide}}<img class="ui fluid image" src="/assets/slides/juego_slide_02.jpg" />{{/swiper-slide}}
    {{#swiper-slide}}<img class="ui fluid image" src="/assets/slides/juego_slide_03.jpg" />{{/swiper-slide}}
  {{/swiper-container}}
</div>
<div class="ui basic very padded segment">
  <div class="ui container">
    <h1 class="ui huge azul header affo-bold">
      QUÉ ES COPA TIC
    </h1>
    <p>
      “Copa TIC. La escuela juega el Mundial” es un juego educativo destinado a alumnos de 71 escuelas secundarias de la Provincia de Buenos Aires que consiste en resolver desafíos de manera colaborativa, poniendo en práctica contenidos escolares y competencias digitales, a fin de recolectar insignias y sumar la mayor cantidad de puntos posibles para ayudar a completar la Copa TIC.
    </p>
    <div class="ui right aligned basic segment">
      <a class="ui large button" href="/assets/docs/CopaTIC_GuíaIntroductoria.pdf" target="_blank">GUÍA INTRODUCTORIA <i class="ui download icon"></i></a>
      <a class="ui large button" href="/assets/docs/CopaTIC_Instrucciones_y_reglamento.pdf" target="_blank">INSTRUCCIONES Y REGLAMENTO <i class="ui download icon"></i></a>
    </div>
  </div>
</div>
{{#if (eq model.fase1.estado true)}}
<div class="ui basic inverted very padded segment bg celeste">
  <div class="ui container">
    <h1 class="ui huge white header affo-medium">
      INSTRUCCIONES DESAFÍOS <span class="ui affo-black">FASE 1</span>
    </h1>
    <div class="ui {{if (or media.isMobile media.isTablet) 'one' 'four'}} raised cards juego-cards">
        <div class="ui card">
          <div class="content">
            <div class="header">
              Mapa interactivo Rusia 2018
            </div>
            <div class="description">
              <span class="puntos">4 puntos</span><img class="ui tiny image" src="/assets/insignias/produccion-multimedia.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio1' class="ui bottom attached basic compact button"}}
                Ver
              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              ¡Hay equipo!
            </div>
            <div class="description">
              <span class="puntos">3 puntos</span><img class="ui tiny image" src="/assets/insignias/estetica-y-diseno.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio2' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              Crónica: el Mundial en mi escuela
            </div>
            <div class="description">
              <span class="puntos">3 puntos</span><img class="ui tiny image" src="/assets/insignias/produccion-escrita.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio3' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              El campeón inesperado
            </div>
            <div class="description">
              <span class="puntos">4 puntos</span><img class="ui tiny image" src="/assets/insignias/actuacion.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio4' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
{{/if}}
{{#if (eq model.fase2.estado true)}}
<div class="ui basic inverted very padded segment bg fuccia">
  <div class="ui container">
    <h1 class="ui huge white header affo-medium">
      INSTRUCCIONES DESAFÍOS <span class="ui affo-black">FASE 2</span>
    </h1>
    <div class="ui {{if (or media.isMobile media.isTablet) 'one' 'four'}}  cards juego-cards">
        <div class="ui card">
          <div class="content">
            <div class="header">
              De cábalas y otras yerbas
            </div>
            <div class="description">
              <span class="puntos">3 puntos</span><img class="ui tiny image" src="/assets/insignias/trabajo-colaborativo.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio5' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              El Mundial '78 en primera persona
            </div>
            <div class="description">
              <span class="puntos sin-insignia">4 puntos</span><img class="ui tiny image" src="/assets/insignias/sin-insignia.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio6' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              El ranking de las proteínas
            </div>
            <div class="description">
              <span class="puntos">5 puntos</span><img class="ui tiny image" src="/assets/insignias/gestion-de-informacion.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio7' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              Remix  Mundial
            </div>
            <div class="description">
              <span class="puntos">3 puntos</span><img class="ui tiny image" src="/assets/insignias/produccion-audiovisual.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio8' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
{{/if}}
{{#if (eq model.fase3.estado true)}}
<div class="ui basic inverted very padded segment bg verde">
  <div class="ui container">
    <h1 class="ui huge white header affo-medium">
      INSTRUCCIONES DESAFÍOS <span class="ui affo-black">FASE 3</span>
    </h1>
    <div class="ui {{if (or media.isMobile media.isTablet) 'one' 'four'}}  cards juego-cards">
        <div class="ui card">
          <div class="content">
            <div class="header">
              ¿A qué jugamos?
            </div>
            <div class="description">
              <span class="puntos sin-insignia">3 puntos</span><img class="ui tiny image" src="/assets/insignias/sin-insignia.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio9' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              Al ritmo del Mundial
            </div>
            <div class="description">
              <span class="puntos">5 puntos</span><img class="ui tiny image" src="/assets/insignias/produccion-sonora.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio10' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              El fútbol en mi barrio
            </div>
            <div class="description">
              <span class="puntos">4 puntos</span><img class="ui tiny image" src="/assets/insignias/produccion-fotografica.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio11' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              Campaña contra la discriminación de género en el fútbol
            </div>
            <div class="description">
              <span class="puntos">4 puntos</span><img class="ui tiny image" src="/assets/insignias/participacion-en-redes-sociales.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio12' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
{{/if}}
{{#if (eq model.fase4.estado true)}}
<div class="ui basic inverted very padded segment bg azul">
  <div class="ui container">
    <h1 class="ui huge white header affo-medium">
      INSTRUCCIONES DESAFÍOS <span class="ui affo-black">FASE 4</span>
    </h1>
    <div class="ui {{if (or media.isMobile media.isTablet) 'one' 'four'}}  cards juego-cards">
        <div class="ui card">
          <div class="content">
            <div class="header">
              El gol animado
            </div>
            <div class="description">
              <span class="puntos">5 puntos</span><img class="ui tiny image" src="/assets/insignias/programacion.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio13' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              Medios, fútbol y discriminación
            </div>
            <div class="description">
              <span class="puntos">4 puntos</span><img class="ui tiny image" src="/assets/insignias/evaluacion-y-seleccion-de-medios-y-tecnologias.svg"><img class="ui tiny image" src="/assets/insignias/interpretacion-textual.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio14' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              El Mundial de los datos
            </div>
            <div class="description">
              <span class="puntos sin-insignia">4 puntos</span><img class="ui tiny image" src="/assets/insignias/sin-insignia.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio15' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              Los estadios a través de la historia
            </div>
            <div class="description">
              <span class="puntos sin-insignia">4 puntos</span><img class="ui tiny image" src="/assets/insignias/sin-insignia.svg">
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio16' class="ui bottom attached basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
{{/if}}
