
<div class="ui vertical stripe segment">
  {{#swiper-container pagination=true grabCursor=true navigation=true}}
    {{#swiper-slide}}<img class="ui fluid image" src="slides/slide-placeholder_01.jpg" />{{/swiper-slide}}
    {{#swiper-slide}}<img class="ui fluid image" src="slides/slide-placeholder_02.jpg" />{{/swiper-slide}}
    {{#swiper-slide}}<img class="ui fluid image" src="slides/slide-placeholder_03.jpg" />{{/swiper-slide}}
  {{/swiper-container}}
</div>
<div class="ui basic very padded segment">
  <div class="ui container">
    <h1 class="ui huge azul header affo-bold">
      QUÉ ES COPA TIC
    </h1>
    <p>
      “Copa TIC. La escuela juega el Mundial” es un juego educativo destinado a alumnos de 71 escuelas secundarias de la Provincia de Buenos Aires que consiste en resolver desafíos de manera colaborativa, poniendo en práctica contenidos escolares y competencias digitales, a fin de recolectar insignias y sumar la mayor cantidad de puntos posibles para ayudar a completar la Copa TIC.
    </p>
    <div class="ui right aligned basic segment">
      <div class="ui large button">DESCARGAR INSTRUCCIONES <i class="ui download icon"></i></div>
    </div>
  </div>
</div>
<div class="ui basic inverted very padded segment bg celeste">
  <div class="ui container">
    <h1 class="ui huge white header affo-medium">
      INSTRUCCIONES DESAFÍOS <span class="ui affo-black">FASE 1</span>
    </h1>
    <div class="ui four raised cards juego-cards">
        <div class="ui card">
          <div class="content">
            <div class="header">
              Mapa interactivo Rusia 2018
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio1' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              ¡Hay equipo!
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio2' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              Crónica: el Mundial en mi escuela
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio3' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              El campeón inesperado
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio4' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="ui basic inverted very padded segment bg fuccia">
  <div class="ui container">
    <h1 class="ui huge white header affo-medium">
      INSTRUCCIONES DESAFÍOS <span class="ui affo-black">FASE 2</span>
    </h1>
    <div class="ui four raised cards juego-cards">
        <div class="ui card">
          <div class="content">
            <div class="header">
              De cábalas y otras yerbas
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio5' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              El Mundial '78 en primera persona
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio6' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              El ranking de las proteínas
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio7' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              Remix  Mundial
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio8' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="ui basic inverted very padded segment bg verde">
  <div class="ui container">
    <h1 class="ui huge white header affo-medium">
      INSTRUCCIONES DESAFÍOS <span class="ui affo-black">FASE 3</span>
    </h1>
    <div class="ui four raised cards juego-cards">
        <div class="ui card">
          <div class="content">
            <div class="header">
              ¿A qué jugamos?
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio9' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              Al ritmo del Mundial
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio10' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              El fútbol en mi barrio
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio11' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              Campaña contra la discriminación de género en el fútbol
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio12' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="ui basic inverted very padded segment bg azul">
  <div class="ui container">
    <h1 class="ui huge white header affo-medium">
      INSTRUCCIONES DESAFÍOS <span class="ui affo-black">FASE 4</span>
    </h1>
    <div class="ui four raised cards juego-cards">
        <div class="ui card">
          <div class="content">
            <div class="header">
              El gol animado
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio13' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              Medios, fútbol y discriminación
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio14' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              El Mundial de los datos
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio15' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">
              Los estadios a través de la historia
            </div>
            <div class="extra">
              {{#link-to 'app.juego.desafio16' class="ui right floated basic compact button"}}
                Ver

              {{/link-to}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
