@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");

/* Global */
* {
  font-size: 1em;
}

body {
  font-family: "Affogato", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 40px;
}

.center {
  text-align: center;
}

.grupo-oculto {
  display: none !important;
}
.grupo-visible {
  display: inline-block !important;
}

.div-visible {
  display: block !important;
}

.div-oculto {
  display: none !important;
}
/* colores */

.white {
  color: #ffffff !important;
}

.azul {
  color: #1b2647 !important;
}

.celeste {
  color: #009cde;
}

.fuccia {
  color: #d70046 !important;
}

.bg.azul {
  background-color: #1b2647 !important;
  color: #fff !important;
}

.bg.verde {
  background-color: #a4c136 !important;
  color: #fff !important;
}

.bg.celeste {
  background-color: #009cde !important;
  color: #fff !important;
}

.bg.fuccia {
  background-color: #d70046 !important;
  color: #fff !important;
}

/* Fonts */

.roboto-medium-italic {
  font-family: "Roboto", sans-serif !important;
  font-style: italic !important;
  font-weight: normal !important;
  font-size: inherit;
}

.roboto-light {
  font-family: "Roboto", sans-serif !important;
  font-weight: 200 !important;
  font-size: inherit;
}

.roboto-medium {
  font-family: "Roboto", sans-serif !important;
  font-weight: 600 !important;
  font-size: inherit;
}

/* General */

.resumen {
  font-style: italic;
  font-weight: 200;
  font-size: 1.8rem;
  text-align: justify;
  line-height: 38px;
}

.ctic-container {
  margin-top: 3.5em;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  min-height: 100vh;
}

.ui.vertical.segment {
  border-bottom: 0;
}
/* Mapa */

.g-map {
  height: 600px;
}

.g-map-canvas {
  width: 100%;
  height: 100%;
}

.affo-light {
  font-family: "Affogato-Light";
  font-weight: lighter;
}

.affo-medium {
  font-family: "Affogato-Medium";
  font-weight: normal;
}

.infowindow-segment {
  min-width: 500px;
}

/* Menu */

.ui.menu {
  font-family: "Affogato-Medium", sans-serif;
}

.ui.menu .item {
  text-transform: uppercase;
}

.ui.menu a.item:hover,
.ui.menu a.item.active,
.ui.menu .active.item:hover {
  background: none;
  color: #27aae2;
}

.ui.fixed.menu {
  /* top: 45px; */
}

/* Juego */
.ui.vertical.segment.segment-juego {
  padding-bottom: 2em;
}
.ui.vertical.segment.segment-juego .ui.basic.button {
  border-radius: 0;
}

.ui.vertical.segment.detalle-desafio .header {
  color: #36405d;
  text-transform: uppercase;
}

.ui.vertical.segment.detalle-desafio .ui.bulleted.list,
.ui.vertical.segment.detalle-desafio .ui.ordered.list {
  font-size: 1.4em;
  line-height: 1.3em;
}

/* Home */
.ui.vertical.segment {
  padding-bottom: 0;
}
.ui.vertical.segment.home-a-jugar {
  padding: 5rem;
}

.home-a-jugar .header {
  background: transparent url("/assets/home/vamos-a-jugar-bg.svg") no-repeat
    center center;
  background-size: 100% auto;
  color: #1b2647;
  text-align: center;
  text-transform: uppercase;
  font-family: "Affogato-Black", sans-serif;
}

.home-a-jugar .ui.card {
  background: none;
  box-shadow: none;
}

.home-a-jugar .ui.cards > .card > .image,
.home-a-jugar .ui.card > .image {
  background: none;
}

.home-a-jugar .blurring.dimmable > .dimmer {
  background-color: rgba(164, 193, 54, 0.5);
}

.ui.vertical.segment.home-resolve {
  background: #fff url("/assets/home/bg-iconos.svg") no-repeat center center;
  background-size: cover;
  padding: 5rem;
}

.home-resolve .ui.blue.statistics .statistic > .value,
.home-resolve .ui.statistics .blue.statistic > .value,
.home-resolve .ui.blue.statistic > .value {
  font-family: "Affogato-Black";
}

.home-resolve .ui.statistics .statistic > .label {
  font-family: "Affogato-Light";
  font-weight: lighter;
  font-size: 2rem;
}

.home-resolve .ui.blue.statistics .statistic > .value,
.home-resolve .ui.statistics .blue.statistic > .value,
.home-resolve .ui.blue.statistic > .value,
.home-resolve .ui.statistics .statistic > .label {
  color: #1b2647;
}

.home-resolve h1.ui.header {
  color: #1b2647;
}

.home-tablero > .header {
  margin-bottom: 0;
  padding: 5px 0 10px 0;
}
.home-tablero > .header > .content {
  color: #fff;
}

.ui.vertical.segment.home_segui-de-cerca {
  background: transparent url("/assets/home/segui-de-cerca_bg.svg") no-repeat
    center center;
  background-size: cover;
  padding: 6.5em 0 4em 0;
  margin-bottom: 0 !important;
}

/* tablero */

/* Slider */

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  text-align: right;
  padding-right: 7em;
}

.swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #e1033c;
}
/* Herramientas (Isotope) */

/* ---- isotope ---- */

.ui.buttons > .ui.button {
  margin: 5px;
}
.ui.buttons .button:first-child {
  border-radius: 0 !important;
}
.ui.buttons .button:last-child {
  border-radius: 0 !important;
}
.ui.button {
  color: #1c1f4c;
  background-color: #fff;
}

.ui.button:hover {
  background-color: #1c1f4c;
  color: #fff;
}

.ui.button:active,
.ui.button.is-checked {
  color: white;
  background-color: #1c1f4c;
}

.ui.button.is-checked {
}

.ui.button:active {
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ui group */

.ui-group {
  display: inline-block;
}

.ui-group h3 {
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
  margin-right: 0.2em;
  font-size: 16px;
}

.ui-group .button-group {
  display: inline-block;
  margin-right: 20px;
}

/* Tabular Menu */
.ui.top.attached.menu > .item:first-child {
  border-radius: 0 !important;
}
.ui.tabular.menu {
  border-bottom: 1px solid #1c1f4c;
}
.ui.tabular.menu .item {
  color: white;
  background-color: #1c1f4c;
  margin-right: 10px;
}
.ui.tabular.menu .active.item {
  color: #1c1f4c;
  background-color: #fff;
  border-radius: 0 !important;
  border-color: #1c1f4c;
  border-bottom: 1px solid #1c1f4c;
}

.isotope-grid {
  border-radius: 0 !important;
  border-color: #1c1f4c !important;
}

/* Footer */

.ui.inverted.vertical.footer.segment {
  background-color: #333333;
  margin-top: 5em;
}
