<div class="ui vertical stripe padded segment">
  <div class="ui container">
    <h1 class="ui huge dividing header">
      Tablero {{log model}}
    </h1>
    <h3 class="ui header">
      {{model.escuela.nombre}}
    </h3>
    <h5 class="ui sub header">
      {{model.escuela.localidad}}
    </h5>
  </div>
</div>
  {{ctic-detalle-equipo equipos=model.escuela.equipos}}
