<div class="ui vertical stripe padded segment">
  <div class="ui container">
    <h1 class="ui huge dividing header">
      Tablero {{log model}}
    </h1>
    <h3 class="ui header">
      {{model.escuela.nombre}}
    </h3>
    <h5 class="ui sub header">
      {{model.escuela.localidad}}
    </h5>
  </div>
</div>
<div class="ui vertical stripe padded segment">
  <div class="ui container">

  </div>
</div>
<div class="ui inverted padded segment bg azul">
  <div class="ui container">
    <div class="ui grid">
      <div class="ui four wide column">
        <h1 class="ui center aligned white header">
          FASE<br>
          4
        </h1>
      </div>
      <div class="ui twelve wide column">
        <div class="ui two column grid">
          <div class="ui column">
            <div class="ui card">
            </div>
          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted padded segment bg verde">
  <div class="ui container">
    <div class="ui grid">
      <div class="ui four wide column">
        <h1 class="ui center aligned white header">
          FASE<br>
          3
        </h1>
      </div>
      <div class="ui twelve wide column">
        <div class="ui two column grid">
          <div class="ui column">
            <div class="ui card">
            </div>
          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted padded segment bg fuccia">
  <div class="ui container">
    <div class="ui grid">
      <div class="ui four wide column">
        <h1 class="ui center aligned white header">
          FASE<br>
          2
        </h1>
      </div>
      <div class="ui twelve wide column">
        <div class="ui two column grid">
          <div class="ui column">
            <div class="ui card">
            </div>
          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted padded segment bg celeste">
  <div class="ui container">
    <div class="ui grid">
      <div class="ui four wide column">
        <h1 class="ui center aligned white header">
          FASE<br>
          1
        </h1>
      </div>
      <div class="ui twelve wide column">
        <div class="ui two column grid">
          <div class="ui column">
            <div class="ui card">
            </div>
          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
