<div class="ui vertical stripe padded segment">
  <div class="ui container">
    <h1 class="ui huge dividing header">
      Tablero
    </h1>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui container">
    {{#g-map lat=-36.0317071 lng=-59.7663028 zoom=6.5 as |context|}},
      {{#each model.listaDeEscuelas.value.data as |e|}}
        {{#g-map-marker context lat=e.attributes.latitud lng=e.attributes.longitud as |markerContext|}}
          {{#g-map-infowindow markerContext openOn="click" closeOn="click"}}
            <div class="ui segment infowindow-segment">
              <h2 class="ui header">
                {{#link-to 'app.tablero.escuela' e}}
                  {{e.attributes.nombre}}
                {{/link-to}}
                <div class="ui sub header">{{e.attributes.localidad}}</div>
              </h2>
              <div class="ui equal width grid">
                <div class="column">
                  <span class="meta">Equipo 1</span>
                  <h5 class="ui header">
                    DT Laura Edith Martínez
                  </h5>
                  <h4 class="ui header">
                    Les Maradó
                  </h4>
                </div>
                <div class="column">
                  <span class="meta">Equipo 2</span>
                  <h5 class="ui header">
                    DT Juan Manuel Rodríguez
                  </h5>
                  <h4 class="ui header">
                    Les Pantarayos
                  </h4>
                </div>
              </div>
            </div>
          {{/g-map-infowindow}}
        {{/g-map-marker}}
      {{/each}}
    {{/g-map}}
  </div>
</div>
