<div class="ui basic very padded segment">
  <div class="ui container">
    <h1 class="ui huge azul header affo-light uppercase tablero-header ">
      QUÉ ES COPA TIC
    </h1>
    <p>Te presentamos herramientas que se pueden usar en computadoras y dispositivos relacionados, que permite realizar o facilitar todo tipo de actividades para resolver los desafíos.</p>
  </div>
</div>
{{ctic-toolbox}}
