{{outlet}}
<div class="ui vertical stripe segment">
    {{#swiper-container pagination=true grabCursor=true navigation=true}}
        {{#swiper-slide}}<img class="ui fluid image" src="slides/slide-placeholder_01.jpg" />{{/swiper-slide}}
        {{#swiper-slide}}<img class="ui fluid image" src="slides/slide-placeholder_02.jpg" />{{/swiper-slide}}
        {{#swiper-slide}}<img class="ui fluid image" src="slides/slide-placeholder_03.jpg" />{{/swiper-slide}}
      {{/swiper-container}}
</div>
<div class="ui vertical stripe segment home-a-jugar">
  <div class="ui container">
    {{ctic-home-cards}}
  </div>
</div>
<div class="ui vertical stripe padded segment home-resolve">
  <div class="ui center aligned container">
    <div class="ui four huge blue statistics">
      <div class="ui statistic">
        <div class="value">
          <i class="users icon"></i>
        </div>
        <div class="value">
          1800
        </div>
        <div class="label">
          estudiantes
        </div>
      </div>
      <div class="ui statistic">
        <div class="value">
          <i class="university icon"></i>
        </div>
        <div class="value">
          71
        </div>
        <div class="label">
          secundarias
        </div>
      </div>
      <div class="ui statistic">
        <div class="value">
          <i class="calendar icon"></i>
        </div>
        <div class="value">
          26
        </div>
        <div class="label">
          días
        </div>
      </div>
      <div class="ui statistic">
        <div class="value">
          <i class="computer icon"></i>
        </div>
        <div class="value">
          16
        </div>
        <div class="label">
          desafíos
        </div>
      </div>
    </div>
    <h1 class="ui center aligned header">
      <div class="ui content">

          <i class="ui small chevron right icon"></i>
        <span class="affo-light">UN SOLO OBJETIVO:</span> <span class="affo-medium">LLENAR LA <b>#COPATIC</b></span>
      </div>
    </h1>
  </div>
</div>
<div class="ui vertical stripe segment">
  {{#link-to 'app.tablero'}}
    <img class="ui fluid image" src="/home/ctic_home_mapa.jpg" alt="Encontrá tu escuela"/>
  {{/link-to}}
</div>
<div class="ui vertical center aligned segment">
  <h1 class="ui icon header">
    <div class="content">
      <img class="ui fluid image" src="copa-tic_logo.png" />
    </div>
    <i class="ui massive trophy icon"></i>
  </h1>
</div>
