{{outlet}}
<div class="ui vertical stripe segment">
  {{#swiper-container pagination=true grabCursor=true navigation=true}}
    {{#swiper-slide}}<img class="ui fluid image" src="slides/slide-placeholder_01.jpg" />{{/swiper-slide}}
    {{#swiper-slide}}<img class="ui fluid image" src="slides/slide-placeholder_02.jpg" />{{/swiper-slide}}
    {{#swiper-slide}}<img class="ui fluid image" src="slides/slide-placeholder_03.jpg" />{{/swiper-slide}}
  {{/swiper-container}}
</div>
<div class="ui basic very padded segment">
  <div class="ui container">
    <h1 class="ui huge azul header">
      QUÉ ES COPA TIC
    </h1>
    <p>
      “Copa TIC. La escuela juega el Mundial” es un juego educativo del que participan estudiantes de 71 escuelas secundarias de la Provincia de Buenos Aires, que consiste en resolver desafíos de manera colaborativa, poniendo en práctica contenidos escolares y competencias digitales.
    </p>
    <p>
      El objetivo del juego es que cada equipo resuelva la mayor cantidad de desafíos como sea posible a fin de recolectar insignias y sumar puntos para ayudar a completar la Copa TIC, que recibe el aporte de todas las escuelas involucradas en la propuesta lúdica.
    </p>
    <div class="ui right aligned basic segment">
      <div class="ui large button">DESCARGAR INSTRUCCIONES <i class="ui download icon"></i></div>
    </div>
  </div>
</div>
<div class="ui basic inverted very padded segment bg celeste">
  <div class="ui container">
    <h1 class="ui huge white header">
      INSTRUCCIONES DESAFÍOS <b>FASE 1</b>
    </h1>
    <div class="ui four cards">
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="ui basic inverted very padded segment bg fuccia">
  <div class="ui container">
    <h1 class="ui huge white header">
      INSTRUCCIONES DESAFÍOS <b>FASE 2</b>
    </h1>
    <div class="ui four cards">
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="ui basic inverted very padded segment bg verde">
  <div class="ui container">
    <h1 class="ui huge white header">
      INSTRUCCIONES DESAFÍOS <b>FASE 3</b>
    </h1>
    <div class="ui four cards">
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="ui basic inverted very padded segment bg azul">
  <div class="ui container">
    <h1 class="ui huge white header">
      INSTRUCCIONES DESAFÍOS <b>FASE 4</b>
    </h1>
    <div class="ui four cards">
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="description">
              <p>Título de la propuesta va acá, si es largo también sirve</p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Ver
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
