{{outlet}}
<div class="ui basic very padded segment">
  <div class="ui container">
    <h1 class="ui huge azul header">
      SOBRE EL PROYECTO
    </h1>
    <div class="ui basic segment">
      <p class="resumen celeste">
        <span class="verde-claro">“Copa TIC. La escuela juega el Mundial”</span> es un <b>proyecto transmedia lúdico</b> destinado a alumnos de 71 escuelas secundarias de la Provincia de Buenos Aires que consta de un <b>juego con actividades</b> vinculadas al certamen futbolístico, <b>guías para el uso de TICs en el aula</b> y <b>contenidos digitales producidos de manera colaborativa</b>.
      </p>
      <p>
        A partir del Mundial Rusia 2018, esta estrategia pedagógica innovadora busca vincular los <b>contenidos del Diseño Curricular</b> para la Educación Secundaria de la Provincia de Buenos Aires con las <b>capacidades y competencias digitales</b> contempladas en el Marco de Organización de los Aprendizajes para la Educación Obligatoria Argentina (MOA) y el Plan Nacional Integral de Educación Digital (PLANIED), apelando a las <b>narrativas transmedia</b> y la <b>ludificación de los procesos de enseñanza y aprendizaje</b>.
      </p>
      <p>
        El proyecto en cuestión está basado en un <b>juego educativo</b> en el que los alumnos deben resolver desafíos de manera colaborativa a fin de recolectar <b>insignias</b> por el empleo de competencias digitales y sumar la mayor cantidad de <b>puntos</b> posibles para ayudar a completar la <a href="#">Copa TIC</a>, que recibe el aporte de todos los equipos que participan de la iniciativa.
      </p>
      <p>
        Estos desafíos implican la producción de contenidos digitales en distintos lenguajes y formatos (audiovisual, sonoro, fotográfico, textual, multimedia, etc.) que son publicados en el <a href="">tablero de juego</a> para que toda la comunidad pueda acceder a ellos. Además, periódicamente se comparten <b>producciones colectivas</b> realizadas a partir de los contenidos elaborados por los distintos equipos de la Provincia.
      </p>
      <p>
        Con el fin de promover el uso autónomo de las Tecnologías de la Información y la Comunicación, también se incorpora una {{#link-to 'app.herramientas'}}caja de herramientas{{/link-to}} con guías para el uso de diversas aplicaciones y plataformas digitales que los estudiantes deberán utilizar para resolver las actividades propuestas.
      </p>
      <div class="ui right aligned basic segment">
        <div class="ui large button">DESCARGAR PROYECTO <i class="ui download icon"></i></div>
      </div>
    </div>
  </div>
</div>
<div class="ui basic secondary very padded segment">
  <div class="ui container">
    <h1 class="ui huge fuccia header">
      CRÉDITOS
    </h1>
    <p>Autoridades</p>
    <p>Lic. María Eugenia Vidal <span class="roboto-medium">- Gobernadora</span></p>
    <p>Dr. Daniel Salvador <span class="roboto-medium"> - Vicegobernador</span></p>
    <p>Lic. Gabriel Sanchez Zinny <span class="roboto-medium"> - Director General de Cultura y Educación</span></p>
    <p>Lic. Diego Martínez <span class="roboto-medium"> - Vicepresidente 1º del Consejo General de Cultura y Educación</span></p>
    <p>Lic. Sergio Siciliano <span class="roboto-medium"> - Subsecretario de Educación</span></p>
    <p>Dra. Florencia Castro <span class="roboto-medium"> - Subsecretaria de Políticas Docentes y Gestión Territorial</span></p>
  </div>
</div>
<div class="ui basic very padded segment">
  <div class="ui container">
    <h1 class="ui huge azul header">
      EQUIPO TÉCNICO-PEDAGÓGICO
    </h1>
    <p>Tomás Bergero Trpin</p>
    <p>Héctor Méndez</p>
    <p>Graciela Fernández Troiano</p>
    <p>Rosa Amelia Asuaje León</p>
    <p>Silvia Perassolo</p>
    <p>Rocío Velazquez</p>
    <p>Marisa Velazquez</p>
    <p>Leandro Radesh</p>
    <p>Gabriela Spadaccini</p>
    <p>Alejandro Palestrini</p>
    <p>María Elena Beneitez</p>
    <p>Ailén Zelarayán</p>
    <br>
    <h1 class="ui huge azul header">
      EQUIPO DE DISEÑO
    </h1>
    <p>Rodrigo Bonilla</p>
    <p>María Elina Beltrán</p>
    <p>Julieta Alessio</p>
    <p>Agustina Melgarejo</p>
    <p>Federico Etcheverry</p>
    <p>Julia Inchaurregui</p>
    <h1 class="ui huge azul header">
      EQUIPO DE DESARROLLO
    </h1>
    <p>Héctor Sanchez</p>
    <p>Hugo Ruscitti</p>
    <p>Iván Hoffmann</p>
  </div>
</div>
<div class="ui basic secondary very padded segment">
  <div class="ui container">
    <h1 class="ui huge fuccia header">
      LICENCIAS
    </h1>
    <p>
      Los desafíos y actividades comprendidos en el presente proyecto han sido elaborados a partir de recursos de libre circulación con propósitos exclusivamente educativos y sin fines de lucro, citando en cada caso la fuente y el autor de los recursos seleccionados. La propiedad intelectual de los materiales seleccionados pertenece a los autores. Solicitamos a quienes no deseen el uso de su material en estas condiciones, se comuniquen con nosotros para retirarlo en lo inmediato.
    </p>
    <p>
      Salvo aclaración explícita, los contenidos elaborados por los alumnos de las escuelas secundarias que participan del proyecto se publican bajo licencia Creative Commons (CC- BY-NC-SA) siendo de uso público y gratuito para fines exclusivamente pedagógicos. Estos contenidos pueden ser compartidos bajo la misma licencia, siempre que se cite la fuente y el autor y no se realice un uso comercial de los mismos.
    </p>
  </div>
</div>
<div class="ui basic olive inverted very padded segment">
  <div class="ui center aligned container">
    <h1 class="ui huge white header">
      CONTACTO
    </h1>
    <p class="center">
      <a class="white" href="mailto:copatic@abc.gob.ar" target="_blank" title="copatic@abc.gob.ar">copatic@abc.gob.ar</a>
    </p>
  </div>
</div>
